language: python
python:
  - "3.6"
env:
  global:
    - PIPENV_VENV_IN_PROJECT=1
    - PIPENV_IGNORE_VIRTUALENVS=1
before_install:
  - pip install pipenv
  - docker pull readthedocs/build:6.0 || true
install:
  - pipenv install
script:
  - docker build --cache-from readthedocs/build:6.0 -t readthedocs/build:6.0 .
  - pipenv run pytest -m image_60

branches:
  only:
    - master
    - releases/5.x
    - releases/6.x
    - releases/7.x
    - releases/8.x
